body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, #003e98 0, #003a96 8.33%, #003593 16.67%, #162f8e 25%, #392887 33.33%, #4e1f80 41.67%, #5d1377 50%, #69006d 58.33%, #730063 66.67%, #7a0058 75%, #80004d 83.33%, #830042 91.67%, #850036 100%);
}
.main{
    margin-top: 50px;
    width: 600px;
    height: 700px;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    overflow-y: scroll;

    background-image: linear-gradient(135deg, #d3d7f0 0, #d7d6ef 8.33%, #dbd5ee 16.67%, #dfd4ec 25%, #e2d3ea 33.33%, #e6d2e8 41.67%, #e9d1e5 50%, #ecd0e2 58.33%, #eed0df 66.67%, #f0cfdc 75%, #f2cfd9 83.33%, #f3cfd5 91.67%, #f4cfd2 100%);
}
.search_box{

  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 85px;
  left: 150px;
  margin: auto;
}
.content{
    position: absolute;
    top: 160px;
    left: 150px;
    margin: auto;
}
.taskdiv
{
    background-color: rgb(165, 165, 202);
    margin: 10px 0px;
    height: 90px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;    
}
.field{
    border-color:#ffffff; 
    border-style:solid; 
    padding:10px; 
    font-size:14px; 
    border-width:2px; 
    border-radius:12px;
}
.taskdiv p{
    color: rgb(0, 0, 0);
    position: relative;
    top: 30px;
    display: flex;
    justify-content: left;
    margin-left: 5px;
    
}
.delete{
    position: relative;
    top: -6px;
    color: rgb(200, 37, 37);
    left: 250px;
    cursor: pointer;
    
}
.edit{
    position: relative;
    top: -30px;
    color: rgb(206, 250, 31);
    left: 210px;
    cursor: pointer;
}
.alert{
    position: absolute !important;
    top: 80px;
    height: 200px;
    width: 300px;
    
}
.position{
    position: absolute;
    margin: auto;
    top: 130px;
    left: 110px;
}
.main h1{
    margin: 15px;
    position: initial;
    text-align:center;
}

#btn{
    margin-top: 12px;
}


